body {
    background-color: white;
}

.app_container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
  
main {
    flex: 1;
    padding: 20px;
    text-align: center;
}

.button {
    font-size: 20px;
    padding: 20px;
    margin-right: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    display: inline-block;
}

.primary {
    background-color: #000;
    color: #fff;
}

.secondary {
    background-color: #fff;
    color: #000;
}

.primary:hover {
    background-color: #fff;
    color: #000;
}

.secondary:hover {
    background-color: #000;
    color: #fff;
}