/* ProductDetailPage CSS */

.product_detail-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding: 20px;
}

.product_detail-left {
  width: 60%;
  text-align: left;
}

.product_detail-right {
  width: 40%;
  padding-left: 20px; 
}

.product_description h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

/* Product Description CSS*/

.product_info {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.product_info .price {
  font-size: 24px;
  font-weight: bold;
}

.product_info .reviews {
  font-size: 16px;
  color: #666;
}

/* StarRating CSS */

.star_rating {
  gap: 5px;
}

.star {
  font-size: 30px;
  cursor: pointer;
  color: #c0c0c0;
  
}

.star.filled {
  color: rgb(0, 0, 0); 
}

/* ProductSelection CSS */

.product_selection button,
.product_selection select,
.input_field {
  padding: 10px;
  border: 1px solid #ccc;
  width: 10%;
}

.input_field {
  margin-left: 32px;
  width: 7%;
  font-size: 20px;
  background-color: white;
  border: 2px solid #000000;
}

.product_selection select {
  width: 70%;
  margin-bottom: 25px;
  font-size: 20px;
  cursor: pointer;
  background-color: white;
  border: 2px solid #000000;
}

/* ProductDetailsTab CSS */

.product_details,
.product_shipping,
.product_returns {
  border-top: 2px solid black;
  padding: 20px 0;
}

.product_returns {
  border-bottom: 2px solid black;
}

.product_options h2 {
  font-size: 20px;
  margin-top: 20px;
}

.product_options p {
  font-size: 16px;
  color: #666;
}

/* ActionButtons CSS */

.buttons p {
  margin-left: 350px;
  font-size: 15px;
}

.buttons button {
  padding: 20px;
  margin-bottom: 15px;
  font-size: 20px;
  cursor: pointer;
  width: 80%;
  border: 2px solid black;
  transition: all 0.3s ease;
}

.buttons .add_to_cart {
  background-color: #000000;
  color: white;
}

.buttons .add_to_cart:hover {
  background-color: rgb(255, 255, 255);
  color: #000000;
  transform: scale(1.07);
}

.buttons .buy_now {
  background-color: rgb(255, 255, 255);
  color: #000000;
  border: 2px solid #000000;
}


.buttons .buy_now:hover {
  background-color: #000000;
  color: white;
    transform: scale(1.07);

}

.buttons button:hover {
  background-color: #555;
}

/* ProductGallery CSS */

.gallery_container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 20px;
}

.big_image {
  width: 100%;
  height: 500px; 
  overflow: hidden;
}

.big_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-bottom: 2px solid black;
}

.thumbnail_row {
  display: flex;
  gap: 12px;
  justify-content: center;
}

.thumbnail {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border: 1px solid #ddd;
  cursor: pointer;
  transition: all 0.3s ease;
  flex-shrink: 0;
}

.thumbnail:hover,
.thumbnail.active {
  border: 2px solid black;
}