.title_container {
    display: flex;
    align-items: center; 
    gap: 10px; 
}

.title_container i {
    font-size: 60px; 
    margin-bottom: 10px;
}

.hero_banner {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    height: 344px;
    gap: 40px;
    position: relative;
    background-color: black;
}

.hero_content {
    max-width: 400px;
    text-align: left;
    color: white;
    padding: 24px;
    border-radius: 12px;
    z-index: 10;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero_content p {
    margin-top: 10px;
    margin-bottom: -2px;
    font-size: 50px;
    font-weight: bold;
}

.shop_now-btn {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    font-size: 20px;
    color: white;
    transition: transform 0.3s ease-in-out;
    text-decoration: none;
    margin-bottom: 25px;
}

.shop_now-btn i {
    font-size: 20px;
    transition: transform 0.3s ease-in-out;
}

.shop_now-btn:hover i {
    transform: translateX(5px);
}

.shop_now-btn span {
    text-decoration: underline;
    text-underline-offset: 10px;
}

.side_image {
    flex-shrink: 0;
}

.side_image img {
    width: 450px;
    height: auto;
    object-fit: contain;
}

.second_slide .side_image img {
    width: 600px;
    height: auto;
}

.second_slide .hero_content h2 {
    font-size: 36px;
}

.side_image.left {
    order: -1;
    margin-right: 80px;
}

.side_image.right {
    order: 1;
}

.swiper-pagination-bullet {
    background-color: rgb(87, 87, 87) !important;
    opacity: 1;
    width: 12px;
    height: 12px;
    margin-top: 20px;
    margin-bottom: 100px;
}

.swiper-pagination-bullet-active {
    background-color: rgb(0, 0, 0) !important;
    border: 2px solid white !important;
    width: 14px;
    height: 14px;
}